/*
250 x 250 – Square
200 x 200 – Small Square
468 x 60 – Banner
728 x 90 – Leaderboard
300 x 250 – Inline Rectangle
336 x 280 – Large Rectangle
120 x 600 – Skyscraper
160 x 600 – Wide Skyscraper
300 x 600 – Half-Page Ad
970 x 90 – Large Leaderboard
 */
$width_square: 250px;
$width_small_square: 200px;
$width_medium_rectangle: 320px;
$width_large_rectangle: 336px;
$width_leaderboard: 728px;
$width_large_leaderboard: 970px;
$width_skyscraper: 120px;
$width_wide_skyscraper: 160px;
$width_half_page: 300px;
$width_banner: 468px;
